<template>
  <div class="container my-3">
    <div class="row justify-content-around">
      <div class="col-6 rounded shadow">
        <h1 class="py-3">Sign up once and watch any of our free demos.</h1>
        <div id="signup-form">


          <form>


          <!-- ... form fields ... -->
          <ValidationProvider rules="secret" v-slot="{ errors }">
          <div class="form-group">
            <label for="name">Your Name</label>
            <div class="input-group">
              <span class="input-group-prepend"><span class="input-group-text"><i class="fa fa-user" aria-hidden="true">{{ errors[0] }}</i></span></span>
              <input type="text" id="name" name="name" placeholder="Name" class="form-control" v-model="name"/>
            </div>
          </div>
           </ValidationProvider>

          <!-- ... name ... -->
<ValidationProvider rules="required" immediate v-slot="{ errors }">
  <div class="form-group">
    <label for="email">Your Email</label>
    <div class="input-group">
      <span class="input-group-prepend"><span class="input-group-text"><i class="fa fa-envelope" aria-hidden="true">{{ errors[0] }}</i></span></span>
      <input type="email" id="email" name="email" placeholder="email@example.com" class="form-control" v-model="email"/>
    </div>
  </div>
  </ValidationProvider>

  
  <div class="form-group">
    <label for="username">Username</label>
    <div class="input-group">
      <span class="input-group-prepend"><span class="input-group-text"><i class="fa fa-users" aria-hidden="true"></i></span></span>
      <input type="text" id="username" name="username" placeholder="Enter your username" class="form-control" v-model="username"/>
    </div>
  </div>

  <div class="form-group">
    <label for="password">Password</label>
    <div class="input-group">
      <span class="input-group-prepend"><span class="input-group-text"><i class="fa fa-lock" aria-hidden="true"></i></span></span>
      <input type="password" id="password" name="password" placeholder="Enter a password" class="form-control" v-model="password"/>
    </div>
  </div>

  <div class="form-group">
    <label for="password_confirmation">Confirm Password</label>
    <div class="input-group">
      <span class="input-group-prepend"><span class="input-group-text"><i class="fa fa-lock" aria-hidden="true"></i></span></span>
      <input type="password" id="password_confirmation" name="password_confirmation" placeholder="Re-type password" class="form-control" v-model="password_confirmation"/>
    </div>
  </div>

  <div class="form-group">
    <button type="submit" class="btn btn-block btn-lg btn-primary">Register</button>
  </div>


          </form>


        </div>
      </div>
    </div>

<!-- npm install vee-validate --save -->
<!-- https://vee-validate.logaretm.com/v3/guide/required-fields.html#creating-a-required-rule -->
  </div>
</template>



<script>

import { ValidationProvider, extend  } from 'vee-validate';

extend('secret', {
  validate: name => name === 'example',
  message: 'This is not the magic word'
});

extend('required', {
  validate(value) {
    return {
      required: true,
      valid: ['', null, undefined].indexOf(value) === -1
    };
  },
  computesRequired: true
});

export default {
  name: 'SignupForm',
  components: {
    ValidationProvider
  },
  props: {
    msg: String
  },
  data() {
    return{
        name: '',
        email: '',
        username: '',
        password: '',
        password_confirmation: ''
    }
  },
  mounted (){
    
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
